In [316]:
import pandas as pd
import numpy as np

In [317]:
dataset = pd.read_csv(r'C:\Projects_ciência_dados\DIABETES\data\raw\diabetes_dataset (1).csv')

In [318]:
dataset.head()

,Unnamed: 0,Age,Sex,Ethnicity,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,...,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
0,0,58,Female,White,35.8,83.4,123.9,10.9,152,114,...,50.2,99.2,37.5,7.2,Moderate,1538,Moderate,Never,0,1
1,1,48,Male,Asian,24.1,71.4,183.7,12.8,103,91,...,62.0,146.4,88.5,6.1,Moderate,2653,Moderate,Current,0,1
2,2,34,Female,Black,25.0,113.8,142.0,14.5,179,104,...,32.1,164.1,56.2,6.9,Low,1684,Heavy,Former,1,0
3,3,62,Male,Asian,32.7,100.4,167.4,8.8,176,118,...,41.1,84.0,34.4,5.4,Low,3796,Moderate,Never,1,0
4,4,27,Female,Asian,33.5,110.8,146.4,7.1,122,97,...,53.9,92.8,81.9,7.4,Moderate,3161,Heavy,Current,0,0

In [319]:
dataset["Diabetes"] = np.where((dataset["Fasting_Blood_Glucose"] >= 126) & (dataset["HbA1c"] >= 6.5),1,0)

In [320]:
dataset = dataset.drop(["Fasting_Blood_Glucose", "HbA1c"], axis=1)

In [321]:
dataset.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Ethnicity', 'BMI', 'Waist_Circumference',
       'Blood_Pressure_Systolic', 'Blood_Pressure_Diastolic',
       'Cholesterol_Total', 'Cholesterol_HDL', 'Cholesterol_LDL', 'GGT',
       'Serum_Urate', 'Physical_Activity_Level', 'Dietary_Intake_Calories',
       'Alcohol_Consumption', 'Smoking_Status', 'Family_History_of_Diabetes',
       'Previous_Gestational_Diabetes', 'Diabetes'],
      dtype='object')

In [322]:
dataset.isnull().sum()

Unnamed: 0                          0
Age                                 0
Sex                                 0
Ethnicity                           0
BMI                                 0
Waist_Circumference                 0
Blood_Pressure_Systolic             0
Blood_Pressure_Diastolic            0
Cholesterol_Total                   0
Cholesterol_HDL                     0
Cholesterol_LDL                     0
GGT                                 0
Serum_Urate                         0
Physical_Activity_Level             0
Dietary_Intake_Calories             0
Alcohol_Consumption              3320
Smoking_Status                      0
Family_History_of_Diabetes          0
Previous_Gestational_Diabetes       0
Diabetes                            0
dtype: int64

In [323]:
dataset.shape

(10000, 20)

In [324]:
dataset["Alcohol_Consumption"].mode()

0    Moderate
Name: Alcohol_Consumption, dtype: object

In [325]:
dataset.loc[dataset["Alcohol_Consumption"].isnull(), "Alcohol_Consumption"] = "Moderate"

In [326]:
dataset.isnull().sum()

Unnamed: 0                       0
Age                              0
Sex                              0
Ethnicity                        0
BMI                              0
Waist_Circumference              0
Blood_Pressure_Systolic          0
Blood_Pressure_Diastolic         0
Cholesterol_Total                0
Cholesterol_HDL                  0
Cholesterol_LDL                  0
GGT                              0
Serum_Urate                      0
Physical_Activity_Level          0
Dietary_Intake_Calories          0
Alcohol_Consumption              0
Smoking_Status                   0
Family_History_of_Diabetes       0
Previous_Gestational_Diabetes    0
Diabetes                         0
dtype: int64

##### Tratamento de valores nulos consumo de álcool:
    
    #### Ao me deparar com essa situação, pensei em 3 opções: apagar a coluna, apagar as linhas, substituir os nulos pela moda


    ##### Apagar a coluna: Não é interessante pq consumo de álcool tem forte correlação com diabetes

    ##### Apagar as linhas: Não é interessante, pois iria perder mais de 30% do dataset

    ##### Substituir os nulos pela moda: Ação mais inteligente pq preserva o tamanho do dataset e é preciso pegar a moda são variáveis categóricas

##### Não possui valores negativos

In [327]:
negativas = dataset.select_dtypes(["int","float"])
(negativas<0).any().sum()

np.int64(0)

In [328]:
dataset.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Ethnicity', 'BMI', 'Waist_Circumference',
       'Blood_Pressure_Systolic', 'Blood_Pressure_Diastolic',
       'Cholesterol_Total', 'Cholesterol_HDL', 'Cholesterol_LDL', 'GGT',
       'Serum_Urate', 'Physical_Activity_Level', 'Dietary_Intake_Calories',
       'Alcohol_Consumption', 'Smoking_Status', 'Family_History_of_Diabetes',
       'Previous_Gestational_Diabetes', 'Diabetes'],
      dtype='object')

In [329]:
dataset.head()

,Unnamed: 0,Age,Sex,Ethnicity,BMI,Waist_Circumference,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Cholesterol_Total,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes,Diabetes
0,0,58,Female,White,35.8,83.4,152,114,197.8,50.2,99.2,37.5,7.2,Moderate,1538,Moderate,Never,0,1,0
1,1,48,Male,Asian,24.1,71.4,103,91,261.6,62.0,146.4,88.5,6.1,Moderate,2653,Moderate,Current,0,1,1
2,2,34,Female,Black,25.0,113.8,179,104,261.0,32.1,164.1,56.2,6.9,Low,1684,Heavy,Former,1,0,1
3,3,62,Male,Asian,32.7,100.4,176,118,183.4,41.1,84.0,34.4,5.4,Low,3796,Moderate,Never,1,0,1
4,4,27,Female,Asian,33.5,110.8,122,97,203.2,53.9,92.8,81.9,7.4,Moderate,3161,Heavy,Current,0,0,1

In [330]:
dataset = dataset.drop("Unnamed: 0", axis=1)

In [331]:
dataset.columns

Index(['Age', 'Sex', 'Ethnicity', 'BMI', 'Waist_Circumference',
       'Blood_Pressure_Systolic', 'Blood_Pressure_Diastolic',
       'Cholesterol_Total', 'Cholesterol_HDL', 'Cholesterol_LDL', 'GGT',
       'Serum_Urate', 'Physical_Activity_Level', 'Dietary_Intake_Calories',
       'Alcohol_Consumption', 'Smoking_Status', 'Family_History_of_Diabetes',
       'Previous_Gestational_Diabetes', 'Diabetes'],
      dtype='object')

In [332]:
x_previsoras = dataset.iloc[:,0:18]

In [333]:
x_previsoras.columns

Index(['Age', 'Sex', 'Ethnicity', 'BMI', 'Waist_Circumference',
       'Blood_Pressure_Systolic', 'Blood_Pressure_Diastolic',
       'Cholesterol_Total', 'Cholesterol_HDL', 'Cholesterol_LDL', 'GGT',
       'Serum_Urate', 'Physical_Activity_Level', 'Dietary_Intake_Calories',
       'Alcohol_Consumption', 'Smoking_Status', 'Family_History_of_Diabetes',
       'Previous_Gestational_Diabetes'],
      dtype='object')

In [334]:
y_classe = dataset.iloc[:,18]

In [335]:
y_classe

0       0
1       1
2       1
3       1
4       1
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: Diabetes, Length: 10000, dtype: int64

In [336]:
from sklearn.model_selection import train_test_split

In [337]:
x_train, x_test, y_train, y_test = train_test_split(x_previsoras, y_classe, test_size=0.25, random_state=0)

In [338]:
categoricas = x_train.select_dtypes(include=["object"])
indices_categoricos_train = [x_train.columns.get_loc(i) for i in categoricas]

In [339]:
indices_categoricos_train

[1, 2, 12, 14, 15]

In [340]:
x_train.columns

Index(['Age', 'Sex', 'Ethnicity', 'BMI', 'Waist_Circumference',
       'Blood_Pressure_Systolic', 'Blood_Pressure_Diastolic',
       'Cholesterol_Total', 'Cholesterol_HDL', 'Cholesterol_LDL', 'GGT',
       'Serum_Urate', 'Physical_Activity_Level', 'Dietary_Intake_Calories',
       'Alcohol_Consumption', 'Smoking_Status', 'Family_History_of_Diabetes',
       'Previous_Gestational_Diabetes'],
      dtype='object')

In [341]:
numericas = x_train.select_dtypes(include=["int", "float"])
indices_numericos_train = [x_train.columns.get_loc(i) for i in numericas]

In [342]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

In [343]:
preprocessor = ColumnTransformer([
    ('onehot', OneHotEncoder(), indices_categoricos_train),
    ('scaler', StandardScaler(), indices_numericos_train)
])

In [344]:
x_train = preprocessor.fit_transform(x_train)
x_test = preprocessor.transform(x_test)

In [345]:
x_train.shape

(7500, 27)

In [346]:
y_train.shape

(7500,)

In [347]:
type(x_train)

numpy.ndarray

In [348]:
feature_names = preprocessor.get_feature_names_out()
x_train_DF = pd.DataFrame(x_train, columns=feature_names)
x_test_DF = pd.DataFrame(x_test, columns=feature_names)

In [349]:
x_train_DF

,onehot__Sex_Female,onehot__Sex_Male,onehot__Ethnicity_Asian,onehot__Ethnicity_Black,onehot__Ethnicity_Hispanic,onehot__Ethnicity_White,onehot__Physical_Activity_Level_High,onehot__Physical_Activity_Level_Low,onehot__Physical_Activity_Level_Moderate,onehot__Alcohol_Consumption_Heavy,...,scaler__Blood_Pressure_Systolic,scaler__Blood_Pressure_Diastolic,scaler__Cholesterol_Total,scaler__Cholesterol_HDL,scaler__Cholesterol_LDL,scaler__GGT,scaler__Serum_Urate,scaler__Dietary_Intake_Calories,scaler__Family_History_of_Diabetes,scaler__Previous_Gestational_Diabetes
0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,-0.198051,0.604274,1.177843,-0.706220,-1.068551,0.333800,0.136893,0.490099,0.989917,0.963853
1,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.685005,-0.032495,0.176666,1.032038,1.171279,1.379244,-0.274857,1.329937,0.989917,0.963853
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,-1.427802,0.893715,-1.676330,0.977073,-1.276783,-1.598923,1.029020,-1.048441,-1.010185,-1.037503
3,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.608145,-0.379823,-1.431286,-0.561938,-0.342408,0.900886,0.480019,-1.703822,-1.010185,0.963853
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.263105,-1.595472,-0.864186,-0.946691,1.440913,-1.471618,1.509396,1.099366,0.989917,0.963853
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.531286,-0.379823,1.257190,1.011426,1.585074,-1.074272,-0.480733,-0.313407,0.989917,-1.037503
7496,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,-0.889786,1.646260,-1.011212,0.166344,-0.833622,0.121624,-0.343482,-1.105734,-1.010185,0.963853
7497,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,-1.504662,-0.785039,1.653927,-0.974173,-0.943077,-0.889101,-0.412108,0.744426,-1.010185,0.963853
7498,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,-1.350943,0.777938,0.104319,1.382438,-1.501033,-0.626775,-0.617983,1.651340,0.989917,0.963853
7499,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,-0.274911,1.298931,0.202337,-1.118455,0.957708,1.491118,0.754520,-0.107989,0.989917,-1.037503

In [351]:
x_train_DF.to_csv('../data/processed/x_train.csv', index=False)

In [352]:
x_test_DF.to_csv('../data/processed/x_test.csv', index=False)

In [353]:
y_train.to_csv('../data/processed/y_train.csv', index=False)

In [354]:
y_test.to_csv('../data/processed/y_test.csv', index=False)