In [118]:
import pandas as pd
import numpy as np

In [119]:
dataset = pd.read_csv(r'C:\Projects_ciência_dados\DIABETES\data\raw\diabetes_dataset (1).csv')

In [120]:
dataset.head()

,Unnamed: 0,Age,Sex,Ethnicity,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,...,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
0,0,58,Female,White,35.8,83.4,123.9,10.9,152,114,...,50.2,99.2,37.5,7.2,Moderate,1538,Moderate,Never,0,1
1,1,48,Male,Asian,24.1,71.4,183.7,12.8,103,91,...,62.0,146.4,88.5,6.1,Moderate,2653,Moderate,Current,0,1
2,2,34,Female,Black,25.0,113.8,142.0,14.5,179,104,...,32.1,164.1,56.2,6.9,Low,1684,Heavy,Former,1,0
3,3,62,Male,Asian,32.7,100.4,167.4,8.8,176,118,...,41.1,84.0,34.4,5.4,Low,3796,Moderate,Never,1,0
4,4,27,Female,Asian,33.5,110.8,146.4,7.1,122,97,...,53.9,92.8,81.9,7.4,Moderate,3161,Heavy,Current,0,0

In [121]:
dataset["Diabetes"] = np.where((dataset["Fasting_Blood_Glucose"] >= 126) & (dataset["HbA1c"] >= 6.5),1,0)

In [122]:
dataset = dataset.drop(["Fasting_Blood_Glucose", "HbA1c"], axis=1)

In [123]:
dataset.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Ethnicity', 'BMI', 'Waist_Circumference',
       'Blood_Pressure_Systolic', 'Blood_Pressure_Diastolic',
       'Cholesterol_Total', 'Cholesterol_HDL', 'Cholesterol_LDL', 'GGT',
       'Serum_Urate', 'Physical_Activity_Level', 'Dietary_Intake_Calories',
       'Alcohol_Consumption', 'Smoking_Status', 'Family_History_of_Diabetes',
       'Previous_Gestational_Diabetes', 'Diabetes'],
      dtype='object')

In [124]:
dataset.isnull().sum()

Unnamed: 0                          0
Age                                 0
Sex                                 0
Ethnicity                           0
BMI                                 0
Waist_Circumference                 0
Blood_Pressure_Systolic             0
Blood_Pressure_Diastolic            0
Cholesterol_Total                   0
Cholesterol_HDL                     0
Cholesterol_LDL                     0
GGT                                 0
Serum_Urate                         0
Physical_Activity_Level             0
Dietary_Intake_Calories             0
Alcohol_Consumption              3320
Smoking_Status                      0
Family_History_of_Diabetes          0
Previous_Gestational_Diabetes       0
Diabetes                            0
dtype: int64

In [125]:
dataset.shape

(10000, 20)

In [126]:
dataset["Alcohol_Consumption"].mode()

0    Moderate
Name: Alcohol_Consumption, dtype: object

In [127]:
dataset.loc[dataset["Alcohol_Consumption"].isnull(), "Alcohol_Consumption"] = "Moderate"

In [128]:
dataset.isnull().sum()

Unnamed: 0                       0
Age                              0
Sex                              0
Ethnicity                        0
BMI                              0
Waist_Circumference              0
Blood_Pressure_Systolic          0
Blood_Pressure_Diastolic         0
Cholesterol_Total                0
Cholesterol_HDL                  0
Cholesterol_LDL                  0
GGT                              0
Serum_Urate                      0
Physical_Activity_Level          0
Dietary_Intake_Calories          0
Alcohol_Consumption              0
Smoking_Status                   0
Family_History_of_Diabetes       0
Previous_Gestational_Diabetes    0
Diabetes                         0
dtype: int64

##### Tratamento de valores nulos consumo de álcool:
    
    #### Ao me deparar com essa situação, pensei em 3 opções: apagar a coluna, apagar as linhas, substituir os nulos pela moda


    ##### Apagar a coluna: Não é interessante pq consumo de álcool tem forte correlação com diabetes

    ##### Apagar as linhas: Não é interessante, pois iria perder mais de 30% do dataset

    ##### Substituir os nulos pela moda: Ação mais inteligente pq preserva o tamanho do dataset e é preciso pegar a moda são variáveis categóricas

##### Não possui valores negativos

In [129]:
negativas = dataset.select_dtypes(["int","float"])
(negativas<0).any().sum()

np.int64(0)

In [130]:
dataset.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Ethnicity', 'BMI', 'Waist_Circumference',
       'Blood_Pressure_Systolic', 'Blood_Pressure_Diastolic',
       'Cholesterol_Total', 'Cholesterol_HDL', 'Cholesterol_LDL', 'GGT',
       'Serum_Urate', 'Physical_Activity_Level', 'Dietary_Intake_Calories',
       'Alcohol_Consumption', 'Smoking_Status', 'Family_History_of_Diabetes',
       'Previous_Gestational_Diabetes', 'Diabetes'],
      dtype='object')

In [131]:
dataset.head()

,Unnamed: 0,Age,Sex,Ethnicity,BMI,Waist_Circumference,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Cholesterol_Total,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes,Diabetes
0,0,58,Female,White,35.8,83.4,152,114,197.8,50.2,99.2,37.5,7.2,Moderate,1538,Moderate,Never,0,1,0
1,1,48,Male,Asian,24.1,71.4,103,91,261.6,62.0,146.4,88.5,6.1,Moderate,2653,Moderate,Current,0,1,1
2,2,34,Female,Black,25.0,113.8,179,104,261.0,32.1,164.1,56.2,6.9,Low,1684,Heavy,Former,1,0,1
3,3,62,Male,Asian,32.7,100.4,176,118,183.4,41.1,84.0,34.4,5.4,Low,3796,Moderate,Never,1,0,1
4,4,27,Female,Asian,33.5,110.8,122,97,203.2,53.9,92.8,81.9,7.4,Moderate,3161,Heavy,Current,0,0,1

In [132]:
dataset = dataset.drop("Unnamed: 0", axis=1)

In [133]:
dataset.columns

Index(['Age', 'Sex', 'Ethnicity', 'BMI', 'Waist_Circumference',
       'Blood_Pressure_Systolic', 'Blood_Pressure_Diastolic',
       'Cholesterol_Total', 'Cholesterol_HDL', 'Cholesterol_LDL', 'GGT',
       'Serum_Urate', 'Physical_Activity_Level', 'Dietary_Intake_Calories',
       'Alcohol_Consumption', 'Smoking_Status', 'Family_History_of_Diabetes',
       'Previous_Gestational_Diabetes', 'Diabetes'],
      dtype='object')

In [134]:
x_previsoras = dataset.iloc[:,0:18]

In [135]:
x_previsoras.columns

Index(['Age', 'Sex', 'Ethnicity', 'BMI', 'Waist_Circumference',
       'Blood_Pressure_Systolic', 'Blood_Pressure_Diastolic',
       'Cholesterol_Total', 'Cholesterol_HDL', 'Cholesterol_LDL', 'GGT',
       'Serum_Urate', 'Physical_Activity_Level', 'Dietary_Intake_Calories',
       'Alcohol_Consumption', 'Smoking_Status', 'Family_History_of_Diabetes',
       'Previous_Gestational_Diabetes'],
      dtype='object')

In [136]:
y_classe = dataset.iloc[:,18]

In [137]:
y_classe

0       0
1       1
2       1
3       1
4       1
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: Diabetes, Length: 10000, dtype: int64

In [138]:
categoricas = x_previsoras.select_dtypes(include=["object"])
indices_categoricos = [x_previsoras.columns.get_loc(i) for i in categoricas]

In [139]:
indices_categoricos

[1, 2, 12, 14, 15]

In [140]:
x_previsoras.columns

Index(['Age', 'Sex', 'Ethnicity', 'BMI', 'Waist_Circumference',
       'Blood_Pressure_Systolic', 'Blood_Pressure_Diastolic',
       'Cholesterol_Total', 'Cholesterol_HDL', 'Cholesterol_LDL', 'GGT',
       'Serum_Urate', 'Physical_Activity_Level', 'Dietary_Intake_Calories',
       'Alcohol_Consumption', 'Smoking_Status', 'Family_History_of_Diabetes',
       'Previous_Gestational_Diabetes'],
      dtype='object')

In [141]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [142]:
onehotencoder = ColumnTransformer(transformers=[("onehot", OneHotEncoder(), indices_categoricos)], remainder="passthrough")

In [143]:
x_previsoras = onehotencoder.fit_transform(x_previsoras)

In [144]:
x_previsoras

array([[1.000e+00, 0.000e+00, 0.000e+00, ..., 1.538e+03, 0.000e+00,
        1.000e+00],
       [0.000e+00, 1.000e+00, 1.000e+00, ..., 2.653e+03, 0.000e+00,
        1.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 1.684e+03, 1.000e+00,
        0.000e+00],
       ...,
       [1.000e+00, 0.000e+00, 1.000e+00, ..., 3.175e+03, 1.000e+00,
        1.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 3.478e+03, 1.000e+00,
        0.000e+00],
       [0.000e+00, 1.000e+00, 0.000e+00, ..., 2.918e+03, 1.000e+00,
        0.000e+00]], shape=(10000, 27))

In [145]:
from sklearn.preprocessing import StandardScaler

In [146]:
standard = StandardScaler(with_mean=False)

x_previsoras = standard.fit_transform(x_previsoras)

In [147]:
from sklearn.model_selection import train_test_split

In [148]:
x_train, x_test, y_train, y_test = train_test_split(x_previsoras, y_classe, test_size=0.25, random_state=0)

In [149]:
x_train.shape

(7500, 27)

In [150]:
y_train.shape

(7500,)

In [151]:
y_train.to_csv('../data/processed/y_train.csv', index=False) # Salvar sem o índice contador

In [152]:
y_test.to_csv('../data/processed/y_test.csv', index=False)

In [153]:
type(x_train)

numpy.ndarray

In [154]:
x_train = pd.DataFrame(x_train)

In [155]:
x_test = pd.DataFrame(x_test)

In [156]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,0.000000,2.000001,0.000000,0.000000,0.000000,2.314984,2.120104,0.000000,0.000000,2.125556,...,4.940823,5.801497,6.415032,3.081867,2.519966,2.461312,3.917476,4.321749,2.000196,2.00109
1,0.000000,2.000001,0.000000,0.000000,2.316863,0.000000,2.120104,0.000000,0.000000,0.000000,...,6.817569,5.163332,5.416465,4.822296,4.757269,3.508432,3.505110,5.160423,2.000196,2.00109
2,0.000000,2.000001,2.308478,0.000000,0.000000,0.000000,2.120104,0.000000,0.000000,0.000000,...,3.715192,6.091572,3.568303,4.767263,2.311969,0.525492,4.810935,2.785344,0.000000,0.00000
3,2.000001,0.000000,0.000000,0.000000,2.316863,0.000000,2.120104,0.000000,0.000000,0.000000,...,6.740967,4.815243,3.812708,3.226329,3.245290,3.029307,4.261114,2.130872,0.000000,2.00109
4,0.000000,2.000001,0.000000,2.297577,0.000000,0.000000,0.000000,2.115266,0.000000,2.125556,...,5.400434,3.596928,4.378329,2.841096,5.026599,0.653001,5.292028,4.930171,2.000196,2.00109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0.000000,2.000001,0.000000,0.000000,0.000000,2.314984,0.000000,0.000000,2.128834,0.000000,...,6.664366,4.815243,6.494172,4.801658,5.170597,1.050984,3.298927,3.519358,2.000196,0.00000
7496,2.000001,0.000000,2.308478,0.000000,0.000000,0.000000,0.000000,0.000000,2.128834,0.000000,...,4.251406,6.845767,4.231686,3.955521,2.754630,2.248797,3.436382,2.728130,0.000000,2.00109
7497,0.000000,2.000001,0.000000,2.297577,0.000000,0.000000,2.120104,0.000000,0.000000,0.000000,...,3.638590,4.409138,6.889874,2.813579,2.645298,1.236452,3.367654,4.575724,0.000000,2.00109
7498,2.000001,0.000000,0.000000,2.297577,0.000000,0.000000,0.000000,2.115266,0.000000,2.125556,...,3.791794,5.975542,5.344308,5.173134,2.087972,1.499198,3.161472,5.481379,2.000196,2.00109
7499,2.000001,0.000000,0.000000,0.000000,0.000000,2.314984,0.000000,2.115266,0.000000,0.000000,...,4.864221,6.497677,5.442070,2.669117,4.543939,3.620486,4.536024,3.724491,2.000196,0.00000

In [157]:
x_train.to_csv('../data/processed/x_train.csv')

In [158]:
x_test.to_csv('../data/processed/x_test.cvs')

In [159]:
from scipy.sparse import save_npz

In [160]:
save_npz('../data/processed/x_train.npz',x_train)

AttributeError: 'DataFrame' object has no attribute 'format'

In [ ]:
save_npz('../data/processed/x_test.npz', x_test)